/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Media 1 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
@media screen and (max-width:768px) {
        /*............................. Validation MSG ..............................*/
        /* .login-box{
            position: static !important;
        } */
    .warning-msg {
        /* width: 60% !important; */
        /* height: 40% !important; */
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.0) !important;
    }
    #warningBoxMsg{
        font-size: 1.5rem;
        color:#f9f9f979 !important;
    }
    .error-img{
        width: 40% !important;
    }
    }

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Media 2 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
@media screen and (max-width:420px) {
            /*............................. Validation MSG ..............................*/

        #warningBoxMsg{
            font-size: 1.5rem;
        }
        .warning-msg {
            width: 80% !important;
            /* height: 30% !important; */
            color:white !important;
        }
        /*...............................smart login system h1 ......................................*/
        .head-paragraph h1{
            font-size: 1.5rem;
            text-align:center !important;
            padding: 0 !important;
        }
        .error-img{
            width: 50% !important;
        }
    }
/* @media screen and (max-width:290px) {
    .warning-msg {
        width: 40% !important;
        height: 20% !important;
        /* From https://css.glass */
        /* background: rgba(255, 255, 255, 0.0) !important;
    }
    } */ 

    