/*
 * Route - Frontend
 * JS program Week 8
 * Smart Login Web APP
 * JS + Bootstrap
 * 23/12/2023
 * Welcome page CSS
 */
body{
    background-image: url(../Images/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.main{
    height: 100vh;
}
/*.............................. Paragraph of welcome page .....................*/
.paragraph-welcome{
    width: 20%;
    height: 30%;
    border-radius: 10px;
    cursor: pointer;
}

.paragraph-welcome:hover{
    filter: drop-shadow(10px 10px 10px white);
    color: white;
}

/*.................................  Layer till the page loaded ...................*/
.layer-display{
    display: block;
    z-index: 9999999999;
}
.layer-dissappear{
    display: none !important;
}


